Repository tochiman/ticketing-system, pull requests merged in 2024-12, with the labels that each got.

#29 Issues/20 develop frontend for customer
  frontend/package.json
  frontend/src/app.css
  frontend/src/routes/(customer)/customer/+layout.svelte
  frontend/src/routes/(customer)/customer/+page.svelte
  frontend/src/routes/(customer)/customer/create-account/+page.svelte
  frontend/src/routes/(customer)/customer/login/+page.svelte
  frontend/src/routes/(customer)/customer/search-store/+page.svelte
  frontend/yarn.lock
Labels: front, client

#31 Fix Organizationテーブルとstoreテーブルに電話番号を追加した
  backend/app/crud/models.py
  backend/app/db/migrations/versions/e1ddef123e7f_add_phone_in_organization_and_store.py
Labels: bug, backend

#30 add 共通のlogout機能の追加
  backend/app/lib/auth.py
  backend/app/router/org.py
Labels: enhancement, backend

#32 Issues/28 fix api
  backend/app/__pycache__/main.cpython-312.pyc
  backend/app/crud/models.py
  backend/app/crud/org.py
  backend/app/db/migrations/versions/e1ddef123e7f_add_phone_in_organization_and_store.py
  backend/app/models/org.py
  backend/app/router/org.py
  backend/app/run.sh
Labels: bug, backend

#34 33 issues gitignoreの設定とフロントエンドのパッケージ周りの設定について
  .gitignore
  backend/Dockerfile
  backend/app/__pycache__/main.cpython-312.pyc
  frontend/package.json
  frontend/yarn.lock
Labels: bug, front

#35 Issues/21 develop backend for customer
  backend/app/crud/customer.py
  backend/app/models/customer.py
  backend/app/router/customer.py
Labels: backend, client
